<nav class="navbar navbar-expand-md navbar-light fixed-top py-4"> <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link bg-dark text-white text-center " href="/">Home</a>

  </li>




  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle bg-dark text-white text-center " data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false"></a>
    <div class="dropdown-menu">
      
      {{#if user}}
        <a href="/learningstyle" class="dropdown-item" style="margin-left:5px">LEARNING STYLE</a>
        <a href="/usuarios/registro" class="dropdown-item" style="margin-left:5px">REGISTRO</a>
        <a href="/auth/logout" class="dropdown-item" style="margin-left:5px"> LOGOUT</a>
        <a href="/usuarios/consultUser" class="dropdown-item" style="margin-left:5px"> CONSULTAR </a>
      {{else}}
        <a href="/auth/login" class="dropdown-item" style="margin-left:5px"> LOGIN </a>

      {{/if}}
    </div>
  </li>

</ul>

</nav>