<div class="card  col-md-5 mx-auto">
   <div class="card-body">
   <form action="/usuarios/consultUser" method="POST">
      <div class="card-body">
         <div class="col-xs-2">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" required >
         </div>
         
      </div>
         <button class="btn btn-info mt-4 " type="submit">Consultar</button>
   </form>
   </div>

</div>

<h2> Lista de Usuario</h2>
<hr>
{{#each usuarios}}
   <div class="card  mt-4">
         <div class="card-body">
               <h4>Usuario: </h4>
               
               <small>{{email}}</small><br>
               <a href="/usuarios/exc/{{_id}}">
                  <button class="btn btn-danger mt-3"> Deletar</button>
               </a>
               
         </div>  
          
      </div>
   </div>
   
{{else}}
{{/each}}

