<div class="card  col-md-7 mx-auto"> 
    <div class="card-body">
        <div>
            <H3>HGFDSDFGHHGFSDFG</H3>

        </div>
    
       
    
        <div class="row">
            <div class="form___group">
                <label for="id_question"> Nome: </label>
                <input autofocus autocomplete="off" class="form___data" id="id_question" maxlength="8" name="id_question" type="text">

            </div>
        </div>
        <div class="row has-alignCenter">
            <button onclick="like('dsdfsdfs', 12)">Sim</button>

        </div>
       
    

        
    </div>
</div>
