


<section id="login" class="text-center mt-auto">
         <div class="container ">
            <div class="row">
               <div class="col-md-4 mx-auto centralizado">
                  <div class="card mb-2 ">
                     <div class="card-body">
                        <img src="./img/logo-great.png" width="50" height="50" class="img-fluid" alt="">
                        <h3 class="d-inline align-middle">GReAT Aplication</h3>
                        <div>
                          <hr>
                          <p>  Esta é uma aplicação que implementa uma arquitetura de microsserviços</p>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </section>