

<section>
    <div class="container">
       <div class="row pt-4">
          <div class="col-md-12">
              <h4 class="pb-4">Questionário de Estilo de Aprendizagem</h4>
          </div>
      </div>
    </div>
 </section>
<section>
  <div class="container">
    <div class="row py-4 bg-light">
      <div class="col">
        <h6>Progresso</h6>
        <div class="progress">
        <div id="percentual" class="progress-bar" role="progressbar" aria-valuenow="0,0" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
            <span class="sr-only">0,0% Complete</span>
        </div>
        <span class="progress-type">Questionário de Estilo de Aprendizagem</span>
        <span class="progress-completed">100 %</span>
    </div>
      </div>
    </div>
    <div class="row py-4">
      <!-- Ativista 0
      Theorist 0
      Reflector 0
      pragmatist 0 -->
      <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="csrfmiddlewaretoken" value="tAvbSOI38ILuY1N28avzccFeFxlVrdg06sPpHwfSRAdzm8owDR6Si3mpqqhPXXZe">
          <div class="card-columns">

            <!-- <div class="alert alert-info p-3">
              <div class="skill-name pb-2">Questionário de Estilo de Aprendizagem</div>
              <div class="progress">
                <div id="percentual" class="progress-bar" style="width: 15%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0,0%</div>
              </div>


            </div> -->



                  <div id="card_1" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">1</span>
                          Eu tenho fortes crenças sobre o que é certo e errado, bom e ruim.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 1)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 1)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_2" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">2</span>
                          Costumo agir sem considerar as possíveis conseqüências.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 2)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 2)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_3" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">3</span>
                          Eu costumo resolver problemas usando uma abordagem passo a passo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 3)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 3)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_4" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">4</span>
                          Eu acredito que procedimentos e políticas formais restringem as pessoas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 4)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 4)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_5" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">5</span>
                          Eu tenho uma reputação de dizer o que penso, simples e diretamente.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 5)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 5)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_6" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">6</span>
                          Muitas vezes acho que as ações baseadas em sentimentos são tão sólidas quanto aquelas baseadas em pensamentos e análises cuidadosas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 6)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 6)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_7" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">7</span>
                          Eu gosto do tipo de trabalho em que tenho tempo para uma preparação e implementação minuciosas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 7)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 7)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_8" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">8</span>
                          Eu questiono regularmente as pessoas sobre suas suposições básicas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 8)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 8)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_9" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">9</span>
                          O que mais importa é se algo funciona na prática.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 9)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 9)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_10" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">10</span>
                          Eu procuro ativamente novas experiências.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 10)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 10)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_11" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">11</span>
                          Quando ouço sobre uma nova ideia ou abordagem, imediatamente começo a pensar em como aplicá-la na prática.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 11)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 11)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_12" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">12</span>
                          Eu estou interessado em auto-disciplina, como observar minha dieta, fazer exercícios regularmente, manter uma rotina fixa, etc.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 12)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 12)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_13" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">13</span>
                          Tenho orgulho em fazer um trabalho completo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 13)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 13)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_14" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">14</span>
                          Eu me dou melhor com pessoas lógicas e analíticas e menos com pessoas espontâneas, &quot;irracionais&quot;.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 14)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 14)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_15" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">15</span>
                          Eu cuido de como interpreto os dados e evito tirar conclusões precipitadas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 15)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 15)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_16" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">16</span>
                          Eu gosto de tomar uma decisão cuidadosamente depois de pesar muitas alternativas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 16)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 16)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_17" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">17</span>
                          Sou atraído mais por idéias novas e incomuns do que práticas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 17)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 17)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_18" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">18</span>
                          Não gosto de coisas desorganizadas e prefiro encaixar as coisas em um padrão coerente.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 18)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 18)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_19" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">19</span>
                          Aceito e mantenho os procedimentos e políticas definidos, desde que os considere uma maneira eficiente de fazer o trabalho.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 19)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 19)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_20" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">20</span>
                          Eu gosto de relacionar minhas ações com um princípio geral, padrão ou crença.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 20)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 20)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_21" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">21</span>
                          Em discussões, gosto de ir direto ao assunto.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 21)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 21)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_22" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">22</span>
                          Costumo ter relações distantes e bastante formais com as pessoas no trabalho.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 22)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 22)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_23" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">23</span>
                          Eu prospero no desafio de enfrentar algo novo e diferente.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 23)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 23)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_24" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">24</span>
                          Eu gosto de pessoas espontâneas amantes da diversão.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 24)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 24)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_25" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">25</span>
                          Eu presto muita atenção aos detalhes antes de chegar a uma conclusão.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 25)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 25)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_26" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">26</span>
                          Eu acho difícil produzir idéias por impulso.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 26)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 26)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_27" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">27</span>
                          Eu acredito em chegar ao ponto imediatamente.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 27)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 27)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_28" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">28</span>
                          Tenho o cuidado de não tirar conclusões precipitadas com muita rapidez.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 28)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 28)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_29" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">29</span>
                          Eu prefiro ter tantas fontes de informação quanto possível - mais informações para pensar sobre o melhor.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 29)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 29)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_30" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">30</span>
                          Pessoas irreverentes e superficiais que não levam as coisas a sério o suficiente geralmente me irritam.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 30)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 30)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_31" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">31</span>
                          Eu ouço os pontos de vista de outras pessoas antes de colocar minha própria visão adiante.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 31)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 31)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_32" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">32</span>
                          Eu costumo ser aberto sobre como estou me sentindo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 32)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 32)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_33" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">33</span>
                          Em discussões, gosto de assistir a trama e esquemas dos outros participantes.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 33)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 33)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_34" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">34</span>
                          Eu prefiro responder aos eventos de maneira espontânea e flexível, em vez de planejar as coisas com antecedência.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 34)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 34)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_35" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">35</span>
                          Eu tenho tendência a ser atraído por técnicas como fluxogramas, planos de contingência, etc.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 35)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 35)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_36" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">36</span>
                          Preocupa-me se tenho que apressar o trabalho para cumprir um prazo apertado.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 36)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 36)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_37" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">37</span>
                          Eu tenho a tendência de julgar as idéias das pessoas em seus méritos práticos.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 37)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 37)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_38" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">38</span>
                          Pessoas calmas e atenciosas tendem a me deixar desconfortável.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 38)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 38)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_39" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">39</span>
                          Muitas vezes me irrito com pessoas que querem apressar as coisas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 39)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 39)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_40" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">40</span>
                          É mais importante aproveitar o momento presente do que pensar sobre o passado ou o futuro.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 40)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 40)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_41" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">41</span>
                          Eu acho que as decisões baseadas em uma análise cuidadosa de todas as informações são melhores do que aquelas baseadas na intuição.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 41)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 41)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_42" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">42</span>
                          Tenho tendência a ser perfeccionista.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 42)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 42)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_43" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">43</span>
                          Em discussões, geralmente produzo muitas idéias espontâneas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 43)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 43)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_44" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">44</span>
                          Nas reuniões, apresento idéias práticas e realistas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 44)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 44)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_45" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">45</span>
                          Mais frequentemente do que não, as regras estão aí para ser quebrado.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 45)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 45)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_46" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">46</span>
                          Eu prefiro afastar-me de uma situação e considerar todas as perspectivas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 46)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 46)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_47" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">47</span>
                          Muitas vezes vejo inconsistências e fraquezas nos argumentos de outras pessoas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 47)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 47)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_48" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">48</span>
                          No geral, falo mais do que ouço.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 48)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 48)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_49" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">49</span>
                          Muitas vezes posso ver formas melhores e mais práticas de fazer as coisas.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 49)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 49)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_50" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">50</span>
                          Acho que os relatórios escritos devem ser curtos e ir ao ponto.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 50)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 50)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_51" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">51</span>
                          Acredito que o raciocínio racional e lógico deveria vir em primeiro lugar.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 51)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 51)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_52" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">52</span>
                          Eu tenho a tendência de discutir coisas específicas com as pessoas em vez de me envolver em discussões sociais.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 52)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 52)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_53" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">53</span>
                          Eu gosto de pessoas que abordam as coisas realisticamente, em vez de teoricamente.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 53)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 53)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_54" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">54</span>
                          Em discussões, fico impaciente com questões e digressões irrelevantes.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 54)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 54)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_55" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">55</span>
                          Se eu tiver um relatório para escrever, tento produzir muitos rascunhos antes de escolher a versão final.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 55)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 55)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_56" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">56</span>
                          Eu estou ansioso para experimentar as coisas para ver se eles funcionam na prática.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 56)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 56)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_57" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">57</span>
                          Estou interessado em obter respostas através de uma abordagem lógica.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 57)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 57)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_58" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">58</span>
                          Eu gosto de ser aquele que fala muito.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 58)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 58)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_59" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">59</span>
                          Em discussões, muitas vezes acho que sou realista, mantendo as pessoas no ponto e evitando especulações selvagens.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 59)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 59)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_60" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">60</span>
                          Eu gosto de ponderar muitas alternativas antes de tomar uma decisão.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 60)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 60)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_61" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">61</span>
                          Em discussões com pessoas, muitas vezes acho que sou o menos sentimentalmente envolvido e objetivo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 61)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 61)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_62" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">62</span>
                          Nas discussões, estou mais propenso a adotar uma postura mais  &quot;discreta&quot; do que assumir a liderança e falar mais.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 62)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 62)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_63" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">63</span>
                          Eu gosto de relacionar as ações atuais com a imagem maior a longo prazo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 63)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 63)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_64" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">64</span>
                          Quando as coisas dão errado, eu &quot;dou de ombros&quot; e considero que valeu a experiência.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 64)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 64)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_65" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">65</span>
                          Tenho a tendência de rejeitar idéias espontâneas e selvagens como sendo impraticáveis.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 65)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 65)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_66" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">66</span>
                          É melhor pensar com cuidado antes de agir.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 66)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 66)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_67" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">67</span>
                          No geral, eu escuto mais do que falo.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 67)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 67)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_68" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">68</span>
                          Eu costumo ser duro com pessoas que acham difícil adotar uma abordagem lógica.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 68)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 68)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_69" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">69</span>
                          Na maioria das vezes, acredito que o fim justifique os meios.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 69)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 69)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_70" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">70</span>
                          Eu não me importo de ferir os sentimentos das pessoas, desde que o trabalho seja feito.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 70)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 70)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_71" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">71</span>
                          Eu acho a formalidade de ter objetivos e planos específicos sufocantes.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 71)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 71)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_72" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">72</span>
                          Eu sou geralmente uma das pessoas que coloca a vida em uma festa.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 72)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 72)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_73" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">73</span>
                          Eu faço o que for prático para fazer o trabalho.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 73)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 73)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_74" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">74</span>
                          Eu rapidamente fico entediado com o trabalho metódico e detalhado.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 74)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 74)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_75" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">75</span>
                          Eu estou interessado em explorar os pressupostos básicos, princípios e teorias que sustentam as coisas e eventos.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 75)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 75)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_76" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">76</span>
                          Estou sempre interessada em descobrir o que as pessoas pensam.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 76)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 76)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_77" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">77</span>
                          Eu gosto de reuniões para serem executadas em linhas metódicas, seguindo a agenda estabelecida.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 77)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 77)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_78" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">78</span>
                          Evito tópicos subjetivos (tendenciosos) ou ambíguos (pouco claros).
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 78)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 78)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_79" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">79</span>
                          Eu gosto do drama e da emoção de uma situação de crise.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 79)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 79)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>

                  <div id="card_80" class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                      <p class="card-text">
                          <span class="badge badge-secondary">80</span>
                          As pessoas geralmente me acham insensível a seus sentimentos.
                      </p>
                    </blockquote>


                    <div class="row">
                      <div class="col-md-6">
                        <button onclick="like('kolb', 80)"  type="button" class="btn btn-block btn-primary p-3 m-2">
                          <h1 class="display-5 "><i class="fas fa-thumbs-up"></i></h1>
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button onclick="dislike('kolb' , 80)"  type="button" class="btn btn-block btn-danger p-3 m-2">
                          <h1 class="display-5">
                            <i class="fas fa-thumbs-down" aria-hidden="true"></i></h1>
                          </button>
                      </div>
                    </div>
                  </div>


          </div>

        </form>
      </div>
    </div>
   </div>
  </section>






