
<h3 class=" col-md-7 mx-auto">Alterar Usuário:</h3>
<div class="card  col-md-7 mx-auto"> 
    <div class="card-body">
        <form action="/usuarios/edit/" method="post">
            
            <input type="hidden" name="id" id="input" class="form-control" value="{{usuarios._id}}">
            
            <label for="nome"> Nome: </label>
            <input type="text" class="form-control" name="nome" value="{{usuarios.nome}}">

            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" value="{{usuarios.email}}">


            <button type="submit" class="btn btn-success mt-4"> Alterar Dados </button>
        </form>
    </div>
</div>
 