
<h3 class=" col-md-7 mx-auto">Alterar Usuário:</h3>
{{usuarios}}
<div class="card  col-md-7 mx-auto"> 
    <div class="card-body">
        <form action="/usuarios/alterarUser" method="post">
            <label for="nome"> Nome: </label>
            <input type="text" class="form-control" name="nome" value="{{usuarios.nome}}">

            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" value="{{usuarios.email}}">

            <label for="senha"> Senha:</label>
            <input type="password" name="senha" class="form-control" required>

            <label for="senha2"> Repita sua senha:</label>
            <input type="password"  name="senha2" class="form-control" required>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="eAdmin" id="defaultUnchecked" value="{{usuarios.eAdmin}} != '1' ? 'true': 'false'">
                <label class="custom-control-label" for="defaultUnchecked">Usuário Admin</label>
            </div>



            <button type="submit" class="btn btn-success mt-4"> Alterar Dados </button>
        </form>
    </div>
</div>
 