<div class="card  col-md-5 mx-auto">
   <div class="card-body">
   <form action="/usuarios/consultUser" method="POST">
      <div class="card-body">
         <div class="col-xs-2">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" required >
         </div>
         <div class="col-xs-2">
            <button class="btn btn-info mt-4 float-right" type="submit">Consultar</button>
         </div>
      </div>
         
   </form>
   </div>

</div>


{{#if usuarios}}

<h2> Lista de Usuários</h2>
<hr>
   {{#each usuarios}}
   <div class="card  mt-4">
      
      <div class="card-body">
            
            <h4>Usuario: </h4>
            
            <small>{{email}}</small><br>
            <a href="/usuarios/exc/{{_id}}">
               <button class="btn btn-danger mt-3"> Deletar</button>
            </a>
         
      </div>  
            
   </div>
   {{else}}
   {{/each}}
</div>
{{/if}}



